Options -MultiViews
RewriteEngine On
RewriteBase /votebem/

# Serve existing files/folders
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Otherwise fallback to index.html
RewriteRule ^ index.html [QSA,L]
